<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form>
<table>
<tr>
<td>Name</td>
<td><input type="text" ng-model="person.name">
</tr>
<tr>
<td>Email</td>
<td><input type="text" ng-model="person.email">
</tr>

<tr>
<td>phone no</td>
<td><input type="text" ng-model="person.phoneno">
</tr>

<tr>
<td>dob</td>
<td><input type="text" ng-model="person.dob">
</tr>

<tr>
<td><input type="submit" ng-click="update()"></td>
</tr>
</table>
</form>
</body>
</html>